@model eLibraryShop.Models.UserRelated.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Przywracanie hasła";
}


<h1>Przywracanie hasła</h1>
<p>Wprowadź adres email na który zostanie wysłany link do zresetowania hasła</p>

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="col-md-6">
        <form asp-action="ForgotPassword">

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zresetuj hasło" class="btn btn-primary"/>
            </div>
            
        </form>
    </div>
</div>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

