@model eLibraryShop.Models.UserRelated.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Przywracanie hasła";
}


<h1>Przywracanie hasła</h1>
<h1>&nbsp;</h1>
@if (Model.IsExisting)
{
    <p>Na adres <b>@Model.Email</b> został wysłany email z linkiem do resetowania hasła</p>

}
else
{
    <p>Nie ma żadnego konta zarejestrowanego dla <b>@Model.Email</b> lub adres nie został potwierdzony przez użytkownika</p>

}


