@model eLibraryShop.Models.UserRelated.ResetPasswordViewModel

@{
    ViewData["Title"] = "Przywróć hasło";
}

<h1>Wprowadź nowe hasło</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            
            <input asp-for="Token" type="hidden"/>
            <input asp-for="Email" type="hidden"/>

            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RepeatPassword" class="control-label"></label>
                <input asp-for="RepeatPassword" class="form-control" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

