@if (TempData["RegisterSuccess"] != null)
{
    <div class="alert alert-success notification ">
        @TempData["RegisterSuccess"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification text-center ">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification text-center ">
        @TempData["Error"]
    </div>
}
