@model IEnumerable<Genre>

@{
    ViewData["Title"] = "Gatunki";
}

<h1>Zarządzanie gatunkami książek</h1> <!-- Manage genres -->

<p>
    <a asp-action="Create">Dodaj nowy</a>
</p>
<table class="table sorting" id="genres">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id">
                <td>
                    @item.Name
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a class="delete"
                       asp-controller="Genres"
                       data-id="@item.Id"
                       data-controller="Genres"
                       data-action="Delete">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {

    <!-- Script enable to drag genres to change order of genres -->
    <script>
        $("table#genres tbody").sortable({
            items: "tr",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#genres tbody").sortable("serialize");
                let url = "/admin/genres/reorder"

                $.post(url, ids, function () { });
            }
        })
    </script>
}
